---
import FemmeStorm from "@layouts/FemmeStorm.astro";

export function getStaticPaths() {
  return [
    { params: { category: "test-artwork-1" }},
    { params: { category: "test-artwork-2" }},
  ];
}

const { category } = Astro.params;
---
<FemmeStorm title={category}>
  <h1>{category}</h1>
</FemmeStorm>
