---
import Header from "@components/Header.astro";
import FemmeStorm from "@layouts/FemmeStorm.astro";
---

<FemmeStorm title="femme storm">
  <Header />
  <h1 class="text-red-600">Home</h1>
</FemmeStorm>
