---
const pathname = Astro.url.pathname
---
<nav>
  <ul class="flex gap-4 justify-end p-4">
    <li><a href="/artwork">artwork</a></li>
    <li><a href="/on-camera">on camera</a></li>
    <li><a href="/photography">photography</a></li>
    <li><a href="/about/info">about</a></li>
  </ul>
</nav>
